
[Desktop Entry]
Name=QVM 
Version=beta-v1.0.3
StartupWMClass=QVM
GenericName=QVM Manager
Comment=Type 2 QEMU hypervisor
Exec=/usr/bin/qvm-manager --gui
Icon=/home/$(whoami)/QVM/config_files/logo_images/qvm-2.png
Type=Application
Categories=System;Other;Administration;
Keywords=QVM;QEMU;Virtuialization;VM;Virtual machine;Type 2;Hypervisor;Linux;Open-source;
